# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata
Understudy.xcodeproj/xcuserdata
Understudy.xcodeproj/project.xcworkspace/xcuserdata
Understudy.xcodeproj/project.xcworkspace/xcshareddata
*.moved-aside
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm

# CocoaPods / Carthage
Pods/
Carthage/Build/
